.main-panel {
  width: 100% !important;
}

.sidebar-mini {
  //smargin-left: 70px;
  //width: calc(100% - 225px);
  background-color: transparent !important;
  //width: calc(100% - 75px);

}
.main-content {
  height:calc(100% - 150px);
  margin-left: 0px;
  margin-right: 0px;

}
.sidebar-full {
  margin-left: 50px;
  //width: calc(100% - 225px);
}

.sidenav---highlighted---oUx9u {
  background-color: grey;
}

.main-panel > nav {
  //opacity: 0.8;
  background: #0a31bb;
}

i {
  margin-top: 10px;
}

.footer-full {
  margin-left: 225px;
  width: calc(100% - 225px);
}

.footer-mini {
  margin-left: 70px;
  width: calc(100% - 75px);
}

.nav-full {
  margin-left: 240px;
  width: calc(100% - 225px);
}

.nav-mini {
  //margin-left: 64px;
  //width: calc(100% - 75px);
}

.peral-footer{
  background-color: #d8f3f3   !important;
}

.pearMenu{
  color: #FFFFFF !important;
  margin-top: 1.15em !important;
}

.pearl-logo{
 height: 3.5em;
}
.footer-mini{
  margin-left: 0px !important;
  width: 100% !important;

}

